APP_NAME=Kumbu
KUMBU_UPLOAD_STORE_FILE=kumbu-release-key.keystore
KUMBU_UPLOAD_KEY_ALIAS=kumbu-key-alias
KUMBU_UPLOAD_STORE_PASSWORD=your_keystore_password_here
KUMBU_UPLOAD_KEY_PASSWORD=your_key_password_here
